body {
    background-image: url(https://res.cloudinary.com/dzgeqcksj/image/upload/o_10/v1607542366/IMG_3988_nkzixl.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 70px;
}

li.nav {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    display: inline;
    padding: 80px;
    margin: auto;
}

h2 {
    text-align: center;
}

div {
    text-align: center;
}
/* 
body > nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
} */

form {
    text-align: center;
}